<div class="aside" tabindex="-1" role="dialog">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header" ng-show="title">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="aside-title" ng-bind-html="title"></h4>
			</div>
			<div class="aside-body" ng-show="content">				
				<ul class="nav navbar-nav"> 
					<li class="nav"><!-- class active-->
						<a href="#">PC</a>
					</li> 
					<li class="nav">
						<a href="#">Ps4</a>
					</li>
					<li class="nav">
						<a href="#">Xbox one</a>
					</li>
					<li class="nav test git">
						<a href="#">Wii u</a>
					</li>
					<li class="dropdown nav"> 
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More 
							<span class="caret"></span>
						</a> 
						<ul class="dropdown-menu"> 
							<li>
								<a href="#">Action</a>
							</li> 
							<li>
								<a href="#">Another action</a>
							</li> 
							<li>
								<a href="#">Something else here</a>
							</li> 
							<li role="separator" class="divider">

							</li>
							<li>
								<a href="#">Separated link</a>
							</li> 
						</ul> 
					</li> 
				</ul>
				<div class="aside-footer">
					<ul class="nav navbar-nav"> 
						<li class="nav">
							<a href="/signin">Sign in</a>
						</li> 
						<li class="nav">
							<a href="#">Sign up</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
