
<div id="container" class="cls-container">

  <!-- HEADER -->
  <!--===================================================-->
  <div class="cls-header">
      <div class="cls-brand">
          <a class="box-inline" href="index.html">
              <!-- <img alt="Nifty Admin" src="images/logo.png" class="brand-icon"> -->
              <span class="brand-title">Wahiga <span class="text-thin"> Administration Portal</span></span>
          </a>
      </div>
  </div>

  <!-- CONTENT -->
  <!--===================================================-->
  <div class="cls-content">
    <div class="form-group" id="messages">
        <%= raw flash_message %>
    </div>
      <h2 class="text-primary">Change Password</h2>
      <p class="text-main text-semibold text-lg text-uppercase"></p>
      <div class="pad-btm text-muted">
          You've invited by portal administrator to join in our portal, enter a new password to continue
      </div>
      <div class="row mar-ver">
           <%= form_for :user, :url => {:controller => 'user_invitations_secured', :action => 'update'}, html: { class: "col-xs-12 col-sm-10 col-sm-offset-1"} do |f| %>
              <input type="password" placeholder="Password" name="user[password]" class="form-control input-lg error-search">
              <br/>
              <input type="password" placeholder="Confirm password" name="user[password_confirmation]" class="form-control input-lg error-search">
              <br/>
              <button type="submit" class="btn btn-primary">Confirm</button>
          <% end %>
      </div>
  </div>


</div>

