<div id="slider-imgs">
		<div class="featured-img-box">
			<div id="featured-img-1" class="featured-img"></div>
		</div>
		<!-- END #slider-imgs -->
	</div>

		<!-- BEGIN #top-layer -->
		<div id="top-layer">
			<div id="header-top">
				<%= render '/home/wrapper_top' %>
			</div>
			<section id="content">
				<%= render '/home/header' %>
				<div id="main-box" class="full-width">
					
					<div id="main">
						<!-- BEGIN .signup-panel -->
						<div class="signup-panel">
							
							<!-- BEGIN .left -->
							<div class="left">
								<h2><span>Esqueci minha senha</span></h2>
								<div class="content-padding">
									
									<div class="the-form" style="margin-top:40px;">
										<form action="signup-password-2.html" method="post">

											<p>
												<label for="forgot_email">E-mail:</label>
												<input type="text" name="forgot_email" id="forgot_email" value="" />
											</p>

											<p class="form-footer">
												<input type="submit" name="forgot_submit" id="forgot_submit" value="Resete minha senha" />
											</p>

											<!-- <p style="margin-top:40px;">
												<span class="info-msg"></span>
											</p> -->

										</form>
									</div>

								</div>
							<!-- END .left -->
							</div>

							<!-- BEGIN .right -->
							<div class="right">
								<h2><span>Como funciona?</span></h2>
								<div class="content-padding">
									
									<div class="form-split-about">
										<p class="p-padding">Digite seu email e clique no botão "Resete minha senha" e siga as instruções abaixo</p>
										
										<ul>
											<li>
												<font>1.</font>
												<b>Você receberá um email com um link</b>
												<p class="p-padding"></p>
											</li>
											
											<li>
												<font>2.</font>
												<b>Clique no link</b>
												<p class="p-padding"></p>
											</li>

											<li>
												<font>3.</font>
												<b>Insira sua nova senha e confirme</b>
												<p class="p-padding"></p>
											</li>
										</ul>

									</div>

								</div>
							<!-- END .left -->
							</div>

							<div class="clear-float"></div>

						<!-- END .signup-panel -->
						</div>
					
					<div class="clear-float"></div>
					
				</div>
			</div>
		</div>
			
		<div class="clear-float"></div>
	</section>
</div>
