
<script type="text/javascript">
    $(document).ready(function() {
      $('#summernote').summernote({
        height: 800,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'italic', 'underline', 'clear']],
            ['fontname', ['fontname']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'hr']],
            ['view', ['fullscreen', 'codeview']],
            ['help', ['help']]
          ]

        });
    });
</script>
<div class="col-lg-7 col-lg-offset-2">
    <div id="summernote">
        
    </div>
</div>
