<div id="content-container">

    <div id="page-title">
        <h1 class="page-header text-overflow">New Social Media</h1>
    </div>

    <div id="page-content">
        <div class="form-group" id="messages">
            <%= raw flash_message %>
        </div>
        <div class="panel">

        <%= form_for :social_media, :url => {:controller => 'social_medias_secured', :action => 'create'}, html: { class: "form-horizontal"} do |f| %>
        <div class="panel-body">
            <div class="col-md-12">
                <p class="bord-btm pad-ver text-main text-bold">Social media information</p>
            </div>
            <!--Static-->
            <div class="col-md-12">
                <div class="form-group col-md-3">
                    <label class="col-md-4 control-label" for="social_media_name">Name:*</label>
                    <div class="col-md-8">
                        <input type="text" required="" class="form-control" name="social_media[name]" id="social_media_name" value="<%= @socialMedia.name %>"/>
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <select class="form-control selectpicker" name="social_media[media_api]" id="article_platforms" id="social_media_media_api">
                        <option value="Google+">Google+</option>
                        <option value="Facebook">Facebook</option>
                        <option value="Twitter">Twitter</option>
                    </select>
                </div>
            </div>            
        </div>

        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-success btn-bock">Save</button>
        </div>
               
        <% end %>
    </div>
</div>

</div>