 <footer class="footer">
 	<div class="container">
 		<div class="visible-xs visible-sm">
 			<div style="text-align: center;">
 				<p class="text-muted">© 2016 "Company name". All rights reserved.</p>
 				<a href="#">Privacy Policy</a>
 				<a>|</a>
 				<a href="#">Ad Choice</a>
 				<a>|</a>
 				<a href="#">Terms of Use</a>
 				<a>|</a>
 				<a href="#">Help</a>
 				<a>|</a>  
 				<a href="#">Advertise</a>
 			</div>
 			<br/>
 			<div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
 				<img src="/assets/images/google_logo.png" style="display: block; height: auto; max-width: 100%;"/>
 			</div>
 		</div>
 		<div class="visible-lg visible-md">
 			<div class="row">
 				<div class="col-lg-12 col-md-12" style="text-align: center;">
 					<p class="text-muted">© 2016 "Company name". All rights reserved.
 						<a href="#">Privacy Policy</a>
 						<a>|</a>
 						<a href="#">Ad Choice</a>
 						<a>|</a>
 						<a href="#">Terms of Use</a>
 						<a>|</a>
 						<a href="#">Help</a>
 						<a>|</a>  
 						<a href="#">Advertise</a>
 					</p>
 				</div>
 			</div>
 			<div class="row">
 				<div class="col-md-2 col-lg-2 col-lg-offset-2 col-md-offset-2">
 					<p><b>REVIEWS</b></p>
 					<p><a>Latest Reviews</a></p>
 					<p><a>PC</a></p>
 					<p><a>PS4</a></p>
 					<p><a>Xbox One</a></p>
 					<p><a>Wii U</a></p>		
 				</div>
 				<div class="col-md-2 col-lg-2">
 					<p><b>NEWS</b></p>
 					<p><a>Latest News</a></p>
 					<p><a>PC</a></p>
 					<p><a>PS4</a></p>
 					<p><a>Xbox One</a></p>
 					<p><a>Wii U</a></p>		
 				</div>
 				<div class="col-md-2 col-lg-2">
 					<p><b>SHOWS</b></p>
 					<p><a>Fallout 4 Show</a></p>
 					<p><a>GameSpot News</a></p>
 					<p><a>GameSpot of Thrones</a></p>
 					<p><a>New Releases</a></p>
 					<p><a>Now Playing</a></p>		
 				</div>
 				<div class="col-md-2 col-lg-3">
 					<p><b>COMMUNITY</b></p>
 					<a class="btn btn-social-icon btn-xs btn-facebook"><i class="fa fa-facebook"></i></a>
 					<a class="btn btn-social-icon btn-xs btn-twitter"><i class="fa fa-twitter"></i></a>
 					<a class="btn btn-social-icon btn-xs btn-google"><i class="fa fa-google"></i></a>
 					<a class="btn btn-social-icon btn-xs btn-instagram"><i class="fa fa-instagram"></i></a>
 				</div>
 			</div>
 			<br/>
 			<div class="row"> 
 				<div class="col-lg-2 col-lg-offset-5 col-md-2 col-md-offset-5">
 					<img src="/assets/images/google_logo.png" style="display: block; height: auto; max-width: 100%;"/>
 				</div>
 			</div>
 		</div>
 	</div>	
 </footer>