 <footer class="footer">
 	<div class="container">
 		<div class="visible-xs visible-sm">
 			<div style="text-align: center;">
 				<p class="text-muted">© 2016 "Company name". All rights reserved.</p>
 				<a href="#">Privacy Policy</a>
 				<a>|</a>
 				<a href="#">Ad Choice</a>
 				<a>|</a>
 				<a href="#">Terms of Use</a>
 				<a>|</a>
 				<a href="#">Help</a>
 				<a>|</a>  
 				<a href="#">Advertise</a>
 			</div>
 			<br/>
 			<div class="col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">
 				<img src="/assets/google_logo" style="display: block; height: auto; max-width: 100%;"/>
 			</div>
 		</div>
 	</div>	
 </footer>