<div class="clear-float"></div>

<div class="wrapper">
	<!-- BEGIN .footer -->
	<div class="footer">

		<div class="footer-top"></div>

		<div class="footer-content">
			<!-- BEGIN .panel -->
			<div class="panel">
				<a href="/home" class="header-logo"><img src="/assets/images/wahiga_logo.png" class="logo" style="display: table; margin: 0 auto;" alt="Revelio" title="" /></a>
				<div class="panel-content">


				</div>
				<!-- END .panel -->
			</div>

		</div>

		<div class="footer-bottom">
			<div class="left">&copy; 2016 <strong>Wahiga</strong>. Todos os direitos reservados.</div>
			<div class="right">
				<ul>
					<!-- <li><a href="/home">Pagina inicial</a></li>
					<li><a href="about.html">Sobre</a></li> -->
				</ul>
			</div>
			<div class="clear-float"></div>
		</div>

		<!-- END .footer -->
	</div>
</div>