<header id="header" class="header-amp">
	<div id="menu-bottom">
		<!-- <nav id="menu" class="main-menu width-fluid"> -->
		<nav id="menu" class="main-menu width-fluid">
			<div class="blur-before"></div>
			<a href="/" class="header-logo left"><amp-img src="/assets/images/wahiga_logo_2.png" class="logo" layout="fixed" width="182" height="68"/></a>
		</nav>
	</div>

	<div class="wrapper">
		<div class="header-breadcrumbs">
			
		</div>
	</div>

</header>