<header id="header">
	<div id="menu-bottom">
		<!-- <nav id="menu" class="main-menu width-fluid"> -->
		<nav id="menu" class="main-menu width-fluid">
			<div class="blur-before"></div>
			<a href="/home" class="header-logo left"><img src="/assets/images/wahiga_logo.png" class="logo" alt="Revelio" title="" /></a>
			<a href="#dat-menu" class="datmenu-prompt"><i class="fa fa-bars"></i>Show menu</a>
			<ul class="load-responsive" rel="Main menu">
				<li><a href="blog.html"><i class="fa flaticon-monitor-keyboard-and-mouse"></i><strong>PC</strong></a>
				</li>
				<li><a ><i class="fa flaticon-game-control-tool"></i><strong>PS4</strong></a>
				</li>
				<li><a href="shortcodes.html"><i class="fa flaticon-xbox-one-wireless-control"></i><strong>Xbox One</strong></a>
				</li>
				<li><a href="photo-gallery.html"><i class="fa flaticon-wii-u-games-tool"></i><strong>Wii U</strong></a></li>
				<li><a href="forum.html"><i class="fa flaticon-nintendo-game"></i><strong>3DS</strong></a>
				</li>
				<li><a href="team.html"><i class="fa flaticon-ps3-wireless-game-control"></i><strong>PS3</strong></a>
				<li><a href="team.html"><i class="fa flaticon-xbox-360-control-game-tool"></i><strong>Xbox 360</strong></a>
				</li>
				<li><a href="contact-us.html"><i class="fa fa-map-marker"></i><strong>Mobile</strong></a></li>
			</ul>
		</nav>
	</div>

	<div class="wrapper">
		<div class="header-breadcrumbs">
			
		</div>
	</div>

</header>