
<header id="header" >
	<div id="menu-bottom">
		<!-- <nav id="menu" class="main-menu width-fluid"> -->
		<nav id="menu" class="main-menu width-fluid">
			<div class="blur-before"></div>
			<a href="/" class="header-logo left"><img src="/assets/images/wahiga_logo_2.png" class="logo" alt="Wahiga" title="" /></a>
			<a href="#dat-menu" class="datmenu-prompt"><i class="fa fa-bars"></i>Show menu</a>
			<ul class="load-responsive" rel="Main menu">
				<li><a href="/platform/PC"><i class="fa flaticon-monitor-keyboard-and-mouse"></i><strong>PC</strong></a>
				</li>
				<li><a href="/platform/PS4"><i class="fa flaticon-game-control-tool"></i><strong>PS4</strong></a>
				</li>
				<li><a href="/platform/Xbox-one"><i class="fa flaticon-xbox-one-wireless-control"></i><strong>Xbox One</strong></a>
				</li>
				<li><a href="/platform/Wii-U"><i class="fa flaticon-wii-u-games-tool"></i><strong>Wii U</strong></a></li>
				<li><a href="/platform/3DS"><i class="fa flaticon-nintendo-game"></i><strong>3DS</strong></a>
				</li>
				<li><a href="/platform/PS3"><i class="fa flaticon-ps3-wireless-game-control"></i><strong>PS3</strong></a>
				<li><a href="/platform/Xbox-360"><i class="fa flaticon-xbox-360-control-game-tool"></i><strong>Xbox 360</strong></a>
				</li>
				<li><a href="/platform/Mobile"><i class="fa fa-map-marker"></i><strong>Mobile</strong></a></li>
			</ul>
		</nav>
	</div>

	<div class="wrapper">
		<div class="header-breadcrumbs">
			
		</div>
	</div>

</header>