<div class="row" style="padding-top: 1.3em; padding-bottom: 1.3em;">
	<a href="#">
		<div class="row" style="width: 100%;">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<div style="width: 100%; position: relative;">
					<img src="assets/images/fnal-fantasy-xv.jpg" class="img-thumbnail" style="border: none;"/>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
				<div class="container-text-main" style="width: 100%; position: relative; color: black;">
					<h4 style="position: absolute;"><b>Header text</b></h4>
					<p class="lead" style="position: absolute; top: 40px; font-size: 14px;">Your text to explain this media here Your text to explain this media hereYour text to explain this media hereYour text to explain this media here</p>
				</div>
			</div>
		</div>
	</a>
</div>
<div class="row" style="padding-top: 1.3em; padding-bottom: 1.3em;">
	<a href="#">
		<div class="row" style="width: 100%;">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<div style="width: 100%; position: relative;">
					<img src="assets/images/fnal-fantasy-xv.jpg" class="img-thumbnail" style="border: none;"/>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
				<div class="container-text-main" style="width: 100%; position: relative; color: black;">
					<h4 style="position: absolute;"><b>Header text</b></h4>
					<p class="lead" style="position: absolute; top: 40px; font-size: 14px;">Your text to explain this media here Your text to explain this media hereYour text to explain this media hereYour text to explain this media here</p>
				</div>
			</div>
		</div>
	</a>
</div>
<div class="row" style="padding-top: 1.3em; padding-bottom: 1.3em;">
	<a href="#">
		<div class="row" style="width: 100%;">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<div style="width: 100%; position: relative;">
					<img src="assets/images/fnal-fantasy-xv.jpg" class="img-thumbnail" style="border: none;"/>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
				<div class="container-text-main" style="width: 100%; position: relative; color: black;">
					<h4 style="position: absolute;"><b>Header text</b></h4>
					<p class="lead" style="position: absolute; top: 40px; font-size: 14px;">Your text to explain this media here Your text to explain this media hereYour text to explain this media hereYour text to explain this media here</p>
				</div>
			</div>
		</div>
	</a>
</div>
<div class="row" style="padding-top: 1.3em; padding-bottom: 1.3em;">
	<a href="#">
		<div class="row" style="width: 100%;">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<div style="width: 100%; position: relative;">
					<img src="assets/images/fnal-fantasy-xv.jpg" class="img-thumbnail" style="border: none;"/>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
				<div class="container-text-main" style="width: 100%; position: relative; color: black;">
					<h4 style="position: absolute;"><b>Header text</b></h4>
					<p class="lead" style="position: absolute; top: 40px; font-size: 14px;">Your text to explain this media here Your text to explain this media hereYour text to explain this media hereYour text to explain this media here</p>
				</div>
			</div>
		</div>
	</a>
</div>
<div class="row" style="padding-top: 1.3em; padding-bottom: 1.3em;">
	<a href="#">
		<div class="row" style="width: 100%;">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
				<div style="width: 100%; position: relative;">
					<img src="assets/images/fnal-fantasy-xv.jpg" class="img-thumbnail" style="border: none;"/>
				</div>
			</div>
			<div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
				<div class="container-text-main" style="width: 100%; position: relative; color: black;">
					<h4 style="position: absolute;"><b>Header text</b></h4>
					<p class="lead" style="position: absolute; top: 40px; font-size: 14px;">Your text to explain this media here Your text to explain this media hereYour text to explain this media hereYour text to explain this media here</p>
				</div>
			</div>
		</div>
	</a>
</div>