<header ng-controller="MainCtrl">
	<nav class="navbar navbar-default wahiga-backgroung-gray-color " ng-controller="AsideDemoCtrl">
		<div class="container">
			<div >
				<div class="navbar-header" style="width: 100%;">
					<div class="col-lg-1 col-md-2 col-sm-2">
					</div>
					<a class="navbar-brand col-xs-4 col-sm-2 col-md-1 col-lg-1" style="background-image: url('/assets/images/wahiga_logo.png'); background-size: contain; background-position: center; background-repeat: no-repeat;" href="/home">
						<!-- /assets/google_logo -->
						
<!-- 						<img src="/assets/images/google_logo.png" style="display: block;
						height: 100%;
						max-width: 100%;"/> -->
					</a>
					<div class="navbar-toggle">
						<a  data-template-url="/assets/templates/aside.html" data-placement="left" data-animation="am-slide-left" bs-aside="aside" data-container="body"> <span class="glyphicon glyphicon-align-justify"></span></a>
					</div>
					<div class="navbar-collapse collapse col-lg-5 col-md-7 col-sm-3">
						<ul class="nav navbar-nav wahiga-navbar-font-weight" style="margin-top: 5px;"> 
							<li class="nav"><!-- class active-->
								<a href="/platform/PC">PC</a>
							</li> 
							<li class="nav">
								<a href="/platform/PS4" >Ps4</a>
							</li>
							<li class="nav">
								<a href="/platform/Xbox-one" >Xbox one</a>
							</li>
							<li class="nav">
								<a href="/platform/Wii-U" >Wii u</a>
							</li>
							<li class="nav hidden-sm">
								<a href="/platform/PS3">Ps3</a>
							</li> 
							<li class="nav hidden-sm">
								<a href="/platform/Vita">Vita</a>
							</li> 
							<li class="nav hidden-sm">
								<a href="/platform/3DS">3DS</a>
							</li> 
							<li class="nav hidden-sm">
								<a href="/platform/Xbox-360">Xbox 360</a>
							</li>
							<li class="nav hidden-sm">
								<a href="/platform/Mobile">Mobile</a>
							</li>  
							 <li class="nav visible-sm">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More 
									<span class="caret"></span>
								</a> 
								<ul class="dropdown-menu wahiga-background-medium-gray-color"> 
									<li>
										<a href="/platform/Ps3">Ps3</a>
									</li> 
									<li>
										<a href="/platform/Vita">Vita</a>
									</li> 
									<li>
										<a href="/platform/3DS">3DS</a>
									</li> 
									<li>
										<a href="/platform/Xbox-360">Xbox-360</a>
									</li>
									<li>
										<a href="/platform/Mobile">Mobile</a>
									</li>  
									
								</ul> 
							</li>
							<!-- <li class="dropdown nav hidden-sm"> 
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" >More 
									<span class="caret"></span>
								</a> 
								<ul class="dropdown-menu wahiga-background-medium-gray-color"> 
									<li class="visible-md">
										<a href="/platform/Wii-U" >Wii U</a>
									</li>
									<li>
										<a href="/platform/Ps3">Ps3</a>
									</li> 
									<li>
										<a href="/platform/Vita">Vita</a>
									</li> 
									<li>
										<a href="/platform/3DS">3DS</a>
									</li> 
									<li>
										<a href="/platform/Xbox-360">Xbox-360</a>
									</li>
									<li>
										<a href="/platform/Mobile">Mobile</a>
									</li>  
								</ul> 
							</li> --> 
						</ul>
					</div>
					<!-- <form class="navbar-form navbar-left hidden-xs col-lg-2 col-md-2 col-sm-3" role="search">
						<div class="form-group wahiga-background-medium-gray-color"> 
							<input type="text" class="form-control search-input"  placeholder="Search"> 
							<button style="border: none; background-color: inherit;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
						</div> 
					</form>
					<form class="navbar-left visible-xs col-xs-12" role="search">
						<div class="form-group wahiga-background-medium-gray-color"> 
							<input type="text" class="form-control search-input " placeholder="Search">
						</div> 
					</form>
					<div class="col-lg-3 col-md-3">
						<ul class="nav navbar-nav hidden-xs wahiga-navbar-font-weight">
							<li>
								<a href="/signin" >Sign in</a>
							</li>
							<li>
								<a>/</a>
							</li>
							<li>
								<a href="/signup" >Sign up</a>
							</li>
						</ul>
					</div> -->
				</div>
			</div>
		</div>
	</nav>
</header>