<!-- BEGIN .panel -->
<div class="panel">
	<div class="panel-content">
		
		<div class="tagcloud">
			<% @tags.each do |tag| %>
				<a><%= tag %></a>	
			<% end %>
		</div>
		
	</div>
	<!-- END .panel -->
</div>