<!-- BEGIN .panel -->
<div class="panel">
	<div class="panel-content">
		
		<div class="tagcloud">
		<% if @tags != nil %>
			<% @tags.each do |tag| %>
				<a><%= tag %></a>	
			<% end %>
		<% end %>	
		</div>
		
	</div>
	<!-- END .panel -->
</div>