<ul class="comment-list">
	<li style="border:none; height: 50px;">
		<div style="height: 50px; background-image: url('/assets/images/fnal-fantasy-xv.jpg'); background-size: cover;">
			<div style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px;">1. Final Fantasy XV</a>
					</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
	<li style="border:none; height: 50px;">
		<div style="height: 50px; background-image: url('/assets/images/static/Json-friday-13th.jpg'); background-size: cover;">
			<div class="post-content" style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px;">2. Friday the 13th: The Game</a>
					</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
	<li style="height: 50px; border:none;">
		<div style="height: 50px; background-image: url('/assets/images/static/3058956-battlefield1_reveal_03.jpg'); background-size: cover;">
			<div style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px;">3. Battlefield 1</a>
					</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
	<li style="height: 50px; border:none;">
		<div style="height: 50px; background-image: url('/assets/images/static/Resident-evil-7.jpg'); background-size: cover;">
			<div style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px;">4. Resident Evil 7:biohazard</a>
					</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
	<li style="height: 50px; border:none;">
		<div style="height: 50px; background-image: url('/assets/images/static/deus-ex.jpg'); background-size: cover;">
			<div class="post-content" style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px;">5. Deus Ex: Mankind Divided</a>
					</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
	<li style="height: 50px; border:none;">
		<div class="post small-post" style="height: 50px; background-image: url('/assets/images/static/3068143-civilizationvi_screenshot_announce1.jpg'); background-size: cover;">
			<div class="post-content" style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px; font-size: 16px;">6. Sid Meier's Civilization VI</a>
					</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p style="color: #E7BB51;"></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
	<li style="height: 50px; border:none;">
		<div class="post small-post" style="height: 50px; background-image: url('/assets/images/static/mass-effect.jpg'); background-size: cover;">
			<div class="post-content" style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px; font-size: 16px;">7. Mass Effect: Andromeda</a>
					</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p style="color: #E7BB51;"></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
	<li style="height: 50px; border:none;">
		<div class="post small-post" style="height: 50px; background-image: url('/assets/images/static/2425926-2026827-672376_20130205_001.jpg'); background-size: cover;">
			<div class="post-content" style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px; font-size: 16px;">8. Cyberpunk 2077</a>
					</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p style="color: #E7BB51;"></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
	<li style="height: 50px; border:none;">
		<div class="post small-post" style="height: 50px; background-image: url('/assets/images/static/zelda.jpg'); background-size: cover;">
			<div class="post-content" style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px; font-size: 16px;">9. The Legend of Zelda: Breath of the Wild</a>
					</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p style="color: #E7BB51;"></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
	<li style="height: 50px; border:none;">
		<div class="post small-post" style="height: 50px; background-image: url('/assets/images/static/2886014-for_honor_screen_harrowgate_samuraisattackwarden_e3_150615_4pmpst_1434397100.jpg'); background-size: cover;">
			<div class="post-content" style="height: 50px; background-color: rgba(0,0,0,0.65);">
				<h2 class="entry-title">
					<a href="" style="color: white; margin-left: 5px; font-size: 16px;">10. For Honor</a>
				</h2>	
				<div class="entry-meta">
					<ul class="list-inline">
						<li class="publish-date"><p style="color: #E7BB51;"></p></li>
					</ul>
				</div>
			</div>
		</div><!--/post-->
	</li>
</ul>