<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
	<a href="/articles/friendly_url/id123">
		<div class="box">
			<img src="assets/images/witcher3.jpg" class="img-thumbnail"/>
			<div class="box-h4">
				<h4 style="color: black;">Test Test Test Test Test</h4>
			</div>
		</div>	
	</a>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
	<a href="/articles/friendly_url/id123">
		<div class="box">
			<img src="assets/images/fnal-fantasy-xv.jpg" class="img-thumbnail"/>
			<div class="box-h4">
				<h4 style="color: black;">Speedrunning TMNT, Oddworld and Half Life 2: GameSpot Done Quick! (Replay)</h4>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
	<a href="/articles/friendly_url/id123">
		<div class="box">
			<img src="assets/images/witcher3.jpg" class="img-thumbnail"/>
			<div class="box-h4">
				<h4 style="color: black;">Test Test Test Test Test</h4>
			</div>
		</div>
	</a>
</div>
<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
	<a href="/articles/friendly_url/id123">
		<div class="box">
			<img src="assets/images/fnal-fantasy-xv.jpg" class="img-thumbnail"/>
			<div class="box-h4">
				<h4 style="color: black;">Test Test Test Test Test</h4>
			</div>
		</div>	
	</a>
</div>