<h2><span>Upcoming Events</span></h2>
<div class="content-padding">
	
	<div class="panel-games-lobby full-page">
		<ol>
			<li>
				<div class="lobby-block" style="background:url(/assets/new-template/images/photos/image-39.jpg) no-repeat center;">
					<span class="caption">Nec liber molestie mediocritatem</span>
					<div class="join-button">
						<a href="#">View event page</a>
					</div>
				</div>
				<div class="lobby-info">
					<span class="right">14.May 2013, 20:00</span>
					<span class="left"><b class="countdown-text" rel="1428482400">Loading..</span></b>
					<div class="clear-float"></div>
				</div>
			</li>

			<li>
				<div class="lobby-block" style="background:url(/assets/new-template/images/photos/image-40.jpg) no-repeat center;">
					<span class="caption">Ubique prodesset adversarium ad ius</span>
					<div class="join-button">
						<a href="#">View event page</a>
					</div>
				</div>
				<div class="lobby-info">
					<span class="right">20.May 2013, 20:00</span>
					<span class="left"><b class="countdown-text" rel="1428882400">Loading..</span></b>
					<div class="clear-float"></div>
				</div>
			</li>
		</ol>
		<div class="clear-float"></div>
	</div>
	<div style="margin-top:-16px;">
		<a href="blogs.html" class="defbutton"><i class="fa fa-calendar"></i>View all upcoming events</a>
	</div>
	
</div>