<div class="container-fluid hidden-xs" style="background-color: black;">
	
</div>

<!-- <div class="row" style="height: 2em;">
	
</div>

<div class="container-fluid hidden-xs" style="background-color: #ddd">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2" style="margin-top: 2em; margin-bottom: 2em;">
				<div style="background-color: green; height: 6em;"> </div>
			</div>
		</div>
	</div>
	
</div> -->

