<div id="content-container">

    <div id="container" class="cls-container">
        <div id="page-title">
             <div class="cls-header">
                <div class="cls-brand">
                    <a class="box-inline" href="/private/index">
                        <span class="brand-title">Wahiga<span class="text-thin"> Administration</span></span>
                    </a>
                </div>
            </div>
           
        </div>
       
        <div id="page-content">
            <div class="cls-content">
                <h1 class="error-code text-primary">401</h1>
                <p class="text-main text-semibold text-lg text-uppercase">Unauthorized Access!</p>
                <div class="pad-btm text-muted">
                    You've not rights on this page, please contact your administrator if you really need this access.
                </div>
                <hr class="new-section-sm bord-no">
                <div class="pad-top"><a class="btn-link" href="/private/index">Back to Homepage</a></div>
            </div>
        </div>
    </div>

</div>