<div class="container" >
	<div class="col-lg-6 col-lg-offset-3 col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3">
		<form>	
			<div class="form-group">
				<label for="email_login">Email</label>
				<input type="email" class="form-control" placeholder="Email" autofocus required name="email" id="email_login"/>	
			</div>
			<div class="form-group">
				<label for="password-login">Password</label>
				<input type="password" class="form-control" placeholder="Password" required name="password" id="password_login"/>
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			</div>
		</form>
	</div>
</div>