/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./public
 *= require_self
 */
/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}


body {
	/* Margin bottom by footer height */
	margin-bottom: 180px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 180px;
	background-color: #f5f5f5;
}

.search-box-content-list{
	height: 100px;
	border-bottom: solid;
	border-bottom-width: 1px;
	border-bottom-color: lightgray;
	margin-bottom: 20px;
}

.entry-title > a:hover{
	color:#ED1C24!important;
}

.post-content > h2:hover{
	color:#ED1C24!important;
}


body > .container{
	/*padding: 60px 15px 0;*/
	padding-bottom: 180px;
}

body > .container-fluid{
	padding-bottom: 180px;	
}

.box > .img-thumbnail{
	border: none;
}

.container .text-muted {
	margin: 20px 0;
}

.footer > .container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.image-logo{
	display: block;
	height: 100%;
	max-width: 100%;
}

.highlight-text{
	font-size: 15px;
	color: #F8F8FF;
	margin-top: 110px;
}

.top-buffer{
	margin-top: 10px;
}

.box-h4 > h4{
	font-size: 1.35rem;
}

.aside-header{
	background-color: #262324!important;
	border: none!important;
	color:  #262324!important;
	font-weight: bold!important;
}

.aside-content{
	background-color: #414141!important;
}

.aside{
	background-color: #414141;
}

.aside-header > .close{
	color:  #262324!important;
}

.aside-body{
	background-color: #414141!important;
	border: none!important;
}

.aside-footer{;
	color: #E7BB51!important;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.img-home-menu{
	height: 150px;
	width: auto;
	display: block;
}

.wahiga-backgroung-light-orange-color{
	background-color: #EFD298 !important; 
}

.wahiga-backgroung-medium-orange-color{
	background-color: #EAC87A !important;
}
.wahiga-backgroung-strong-orange-color{
	background-color: #E7BB51 !important;
}

.wahiga-backgroung-gray-color{
	background-color: #414141 !important;
}

.wahiga-backgroung-black-color{
	background-color: #262324 !important;
}

.wahiga-background-medium-gray-color{
	background-color: #5C5C5F!important;
}

.wahiga-font-light-orange-color{
	color: #EFD298 !important;
}

.wahiga-font-medium-orange-color{
	color: #EAC87A !important;
}
.wahiga-font-strong-orange-color{
	color: #E7BB51 !important;
}

.wahiga-font-gray-color{
	color: #414141 !important;
}

.wahiga-font-black-color{
	color: #262324 !important;
}

.wahiga-navbar-font-weight{
	font-weight: bold !important;
}

.search-input{
	border: none!important;
    background-color: inherit!important;
    border-radius: 0!important;
    color: white!important;
}
.search-input:focus{
	border: none!important;
	outline: 0;
	-webkit-box-shadow: none!important;
	          box-shadow: none!important;
}

.navbar-toggle > a{
	color: white;
}

.nav > a{
	color: white;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

@media (min-width: 1px) { 
	.container-text-main > h4{
		font-size: 14px;
	}

	.container-text-main > p{
		font-size: 10px;
	}


}


@media (min-width: 768px) { 

}


@media (min-width: 992px) { 
	body {
		margin-bottom: 180px;
	}
	
	body > .container{
		padding-bottom: 180px;
	}

	body > .container-fluid{
		padding-bottom: 180px;	
	}


}

@media (min-width: 1200px) { 
	body {
		margin-bottom: 180px;
	}
	
	body > .container{
		padding-bottom: 180px;
	}

	body > .container-fluid{
		padding-bottom: 180px;	
	}
}

